* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFD3BE;
  color: #383A46;
  font-size: 10px;
}

header {
  font-size: 2rem;
  height: 3rem;
  background-color: #639a88;
  position : sticky;
  top: 0;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  display: inline;
  padding: 2rem;
}

img {
  max-width: 500px;
  float: left;
  padding: 2rem;
}


ul li {
  font-size: 1rem;
}

.dispinline {
  display : inline;
  padding : 2rem;
}
p {
  padding: 0rem 2rem;
  font-size: 1rem ;
  font-family: 'Montserrat', sans-serif;
}
]
a:link {
  color : #DED9DD;
}

a:visited {
  color : #DED9DD;
}

a:hover {
  color : #3856A3;
}

h1::first-letter {
  color : #3856A3;
}